body {
    overflow-x: hidden;
    min-height: 100vh;
    /*
      yellow:            #f7e763
      dark-yellow:       #5d5a40
      orange:            #fe8201
      orange-red:        #ff3400
      dark-orange:       #64471d
      blue-violet:       #6c52da
      dark-blue-violet:  #3a2c76
      cyan:              #45d5bf
      dark-cyan:         #1f685d
      black:             #2e2f32
     */
    background: #ff3400;
    
    /* 선형 그레디언트 ----------------------------- */
    /*
      background: linear-gradient(
        172deg, 
        #6c52da 25%,
        #ff3400 25%,
        #ff3400 50%, 
        #45d5bf 50%, 
        #45d5bf 75%, 
        #f7e763 75%,
        #f7e763
      );
    */
    
    /* 원형 그레디언트 ----------------------------- */
    /* closest-side | farthest-corner */
    /*
      background: radial-gradient(
        circle, 
        #f7e763,
        #6c52da, 
        #2e2f32
      );
    */
    
    /* 배경 패턴 --------------------------------- */
    /* url("//goo.gl/B6SfbX") */
    /*
      background: url("//goo.gl/B6SfbX");
      background-size: 120px;
    */
    
    /* 오버레이 그레디언트 -------------------------- */
    /* 멀티 배경 테크닉 활용 */
    /*
      background: 
        linear-gradient(180deg, hsla(12, 100%, 50%, 0.4), hsla(54, 90%, 68%, 0.4)), 
        url("//goo.gl/B6SfbX");
      background-size: contain, 120px;
    */
    
    /* 멀티 그레디언트 ----------------------------- */
    /*
      background:
        linear-gradient(217deg, rgba(255,0,0,0.45), rgba(255,0,0,0) 65.70%),
        linear-gradient(127deg, rgba(0,255,0,0.45), rgba(0,255,0,0) 65.70%),
        linear-gradient(336deg, rgba(0,0,255,0.45), rgba(0,0,255,0) 65.70%),
        url("//goo.gl/B6SfbX");
      background-size: 
        100%, 
        100%, 
        100%, 
        140px;
    */
    /*
      background:
        radial-gradient(circle at 50% 0, rgba(255,0,0,0.45), rgba(255,0,0,0) 65.70%),
        radial-gradient(circle at 6.7% 75%, rgba(0,255,0,0.45), rgba(0,255,0,0) 65.70%),
        radial-gradient(circle at 93.3% 75%, rgba(0,0,255,0.45), rgba(0,0,255,0) 65.70%),
        url("//goo.gl/B6SfbX");
      background-size: 
        100%, 
        100%, 
        100%, 
        140px;
    */
  
    /* 반복 그레디언트 ----------------------------- */
    /*
      background: repeating-linear-gradient(
        215deg,
        #f7e763,
        #f7e763 10px,
        #5d5a40 10px,
        #5d5a40 20px
      );
    */
    /*
      background: repeating-radial-gradient(
        circle at 50% 15%,
        #f7e763,
        #f7e763 10px,
        #5d5a40 10px,
        #5d5a40 20px
      );
    */
    background: repeating-radial-gradient(
      circle at -20% -20%,
      #f7e763,
      #f7e763 10px,
      #fe8201 10px,
      #fe8201 20px,
      #ff3400 20px,
      #ff3400 30px
    );
  }
  
  header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid rgba(120,120,120,0.1);
    
    /* 박스 그림자 ---------------------------- */
    /* x y blur spread color */
    /* box-shadow: 0 6px 15px rgba(0,0,0,0.35); */
    
  }
  
  header::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    right: -20px;
    bottom: -5px;
    left: -20px;
    background: #fff;
    
    /* 박스 안쪽 그림자 ---------------------------- */
    box-shadow: inset 0 -5px 15px 4px rgba(0,0,0,0.35);
    
  }
  
  .brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
  
  .brand img {
    width: auto;
    height: 35px;
  }
  
  
  /* 스위치 */
  .switcher {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  
  /* 스위치 커스텀 디자인 */
  .switcher.is-orange input + label::after {
    transform: translateY(-0.5px);
  }
  
  .switcher.is-orange input:checked + label::before {
    box-shadow: inset 0 0 0 2em #fe7c01;
  }
  
  .switcher.is-orange input:checked:focus + label::before {
    border: 1px solid #ff3400;
  }
  
  
  /* 앨범 리스트 */
  .album-list {
    width: 100%;
    min-width: 400px;
    max-width: 1200px;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding-left: 0;
  }
  
  .album-list::after {
    content: '';
    display: block;
    clear: both;
  }
  
  @media (max-width: 1199px) {
    .album-list {
      width: 800px;
    }
  }
  
  @media (max-width: 799px) {
    .album-list {
      width: 400px;
    }
  }
  
  
  /* 앨범 카드 */
  .album-card {
    cursor: pointer;
    overflow: hidden;
    float: left;
    position: relative;
    width: 340px;
    height: 340px;
    margin: 30px;
    transition: all 0.6s cubic-bezier(0.64,-0.02, 0, 1.03);
    
    /* 박스 그림자 설정 */
    box-shadow: 0 0 0 1px #3f3f3f;
    
    /* 둥근 테두리 설정 */
    /* border-radius: 170px 0 0 170px; */
    border-radius: 6px;
    
  }
  
  .album-card:hover {
    
    /* 스케일 설정 */
    transform: scale(1.05);
    
    /* 멀티 박스 그림자 설정 */
    
    box-shadow: 
      0 25px 20px -20px rgba(0,0,0,0.25),
      0 3px 15px rgba(0,0,0,0.5);
   
    
  }
  
  .album-card::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: -100px;
    right: -100px;
    left: -100px;
    bottom: -100px;
  }
  
  .album-card.has-glossy::before {
    
    /* 광택(glossy) 효과 설정 */
    background: 
      linear-gradient(
        148deg, 
        rgba(255,255,255,0) 20%,
        rgba(255,255,255,0.15) 47%, 
        rgba(255,255,255,0.3) 47%, 
        rgba(255,255,255,0.3) 47.1%, 
        transparent 47.1%
      );
    
  }
  
  /* 앨범 커버 */
  .album-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    transition: all 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s;
  }